<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>АМН Гарант-Сервис</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
    </style>
</head>
<body>
    <!-- Шапка -->
        <header id="header" class="hidden">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo-142x52.png') }}" alt="Гарант-Лого">
            </div>
            <div class="header_reduced">
                <span></span>
            </div>
            <div class="support">
                <a href="{{ url_for('index') }}#block5" class="redir">Обучение</a>
                <a href="{{ url_for('index') }}#block6" class="redir">О нас</a>       
                <div class="kon">
                    <a href="mailto: teg@gskam.ru" class="redir">teg@gskam.ru</a>
                    <a href="tel:+74152267615" class="redir">+7 (4152)-26-76-15</a>
                </div>
                <a href="#block7" class="button">Попробовать</a>
            </div>
        </header>
        <!-- Список статей -->
        <section id="block4" class="articles">
            <h1>Статьи</h1>
            <div class="article-list">
                {% for article in articles %}
                    <div class="article">
                        <h2>{{ article.title }}</h2>
                        <p>{{ article.description }}</p>
                        <small>Дата загрузки: {{ article.date_uploaded.strftime('%d.%m.%Y') }}</small>
                    </div>
                {% endfor %}
            </div>
            <h2><a href="{{ url_for('index') }}" class="all_link">Вернуться на главную</a></h2>
        </section>
        
    <!-- 7 Блок -->
    <section id="block7" class="form-block">
        <h2>Получите бесплатный доступ</h2>
        <form action="{{ url_for('submit') }}" method="POST">
            <input type="text" name="name" placeholder="Имя" required>
            <input type="text" name="surname" placeholder="Фамилия" required>
            <input type="tel" name="phone" placeholder="Контактный телефон" required>
            <input type="email" name="email" placeholder="Почта" required>
            <button type="submit">Получить доступ</button>
        </form>
    </section>

    <!-- Подвал -->
    <footer>
        <div class="footer-content">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo-142x52.png') }}" alt="">
            </div>
            <div class="address">
                <h4>Адрес: </h4>
                <p>г.Петропавловск-Камчатский, ул. Проспект 50 лет Октября, дом 31 </p>
                <h4>Контакты :</h4>
                <a href="mailto: teg@gskam.ru">Email:teg@gskam.ru</a>
                <a href="tel:+71234567890">Телефон: +7(4152)-26-76-15</a>
                <a href="tel:+74152267074">Телефон/Факс: +7(4152)-26-70-74</a>
                <a href="https://www.garant.ru" style="margin-block-start: 1em;">Офф. Сайт Гарант</a>
            </div>
            <div class="map">
                <div style="position:relative;overflow:hidden;">
                    <a href="https://yandex.ru/maps/org/garant/165667963837/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Гарант</a><a href="https://yandex.ru/maps/78/petropavlovsk/category/software_companies/184105776/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Программное обеспечение в Петропавловске‑Камчатском</a><a href="https://yandex.ru/maps/78/petropavlovsk/category/legal_services/184105630/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Юридические услуги в Петропавловске‑Камчатском</a><iframe src="https://yandex.ru/map-widget/v1/?ll=158.633394%2C53.056931&mode=search&oid=165667963837&ol=biz&z=19.91" width="280" height="200" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>            
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>